<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Swordo</title>
</head>
<body>
<header th:fragment="navigation">
    <nav>
        <div>
            <ul>
                <th:block sec:authorize="isAnonymous()">
                    <li>
                        <a th:href="@{/user/login}">Login</a>
                    </li>
                    <li>
                        <a th:href="@{/user/register}">Register</a>
                    </li>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin}">Admin Console</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${@extraUserData.id != null}">
                            <p th:text="|Hitpoints: ${@extraUserData.hitpoints}|"></p>
                            <p th:text="|Coins: ${@extraUserData.coins}|"></p>
                    </th:block>
                    <th:block th:if="${@currentBattlefieldMonster.id == null}">
                        <li>
                            <a th:href="@{/battlefields}">Battlefields</a>
                        </li>
                    </th:block>
                    <th:block th:unless="${@currentBattlefieldMonster.id == null}">
                        <li>
                            <a th:href="@{/fight}">Fight</a>
                        </li>
                    </th:block>
                    <li>
                        <a th:href="@{/user/profile}">Profile</a>
                    </li>
                    <li>
                        <a th:href="@{/town}">Town</a>
                    </li>
                    <li>
                        <form th:action="@{/user/logout}" th:method="post">
                        <input type="submit" value="Logout">
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</header>
<footer th:fragment="footer">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    Made by Martin Zhekov. All rights reserved (maybe)</footer>
</body>

</html>