<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Swordo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="navigation">
        <div id="navbar">
            <th:block sec:authorize="isAnonymous()">
                <form th:action="@{/user/login}">
                    <input type="submit" value="Login">
                </form>
                <form th:action="@{/user/register}">
                    <input type="submit" value="Register">
                </form>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <th:block th:if="${@extraUserData.id != null}">
                    <p th:text="|Hitpoints: ${@extraUserData.hitpoints}|"></p>
                    <p th:text="|Coins: ${@extraUserData.coins}|"></p>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{/admin}">
                        <input type="submit" value="Admin Console">
                    </form>
                </th:block>
                <form th:if="${@currentBattlefieldMonster.id == null}" th:action="@{/battlefields}">
                    <input type="submit" value="Battlefields">
                </form>
                <form th:unless="${@currentBattlefieldMonster.id == null}" th:action="@{/fight}">
                    <input type="submit" value="Fight">
                </form>
                <form th:action="@{/user/profile}">
                    <input type="submit" value="Profile">
                </form>
                <form th:action="@{/town}">
                    <input type="submit" value="Town">
                </form>
                <form th:action="@{/user/logout}" th:method="post">
                    <input type="submit" value="Logout">
                </form>
            </th:block>
        </div>
</header>
<footer th:fragment="footer">
    <p>Made by Martin Zhekov. (Everything except the images .
        The images were taken from various sources and I
        (Martin Zhekov) take no credit for making them)</p>
</footer>
</body>

</html>