<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/fragments::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="error-body">
<header th:replace="~{common/fragments::navigation}"></header>
<main>
    <div class="error-div">
        <h1>You are not allowed here sweetheart!</h1>
    </div>
</main>
</body>
<footer th:replace="~{common/fragments::footer}">
</footer>
</html>