<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/fragments::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="town-body">
<header th:replace="~{common/fragments::navigation}"></header>
<main>
    <div class="users-main-container">
        <h1>Users</h1>
        <div>
            <div class="user-container" th:each="user:${users}">
                <p th:text="|User: ${user.username}, Email: ${user.email}, Role: ${user.role}|" ></p>
                <p th:text="|Hitpoints: ${user.hitpoints}, Coins: ${user.coins}|"></p>
                <p th:text="|Sword Type: ${user.sword.type}, Strength: ${user.sword.strength}, Crit Chance: ${user.sword.critChance}, Durability: ${user.sword.durability}|"></p>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{common/fragments::footer}">
</footer>
</html>