<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/fragments::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{common/fragments::navigation}"></header>
<main>
    <div>
        <h3 th:text="|Size: ${battlefield.size}|"></h3>
        <p th:text="${battlefield.description}"></p>
        <h4>Monsters: </h4>
        <div th:each="monster:${battlefield.battlefieldMonsters}">
            <h3 th:text="|Type: ${monster.monster.classs}|"></h3>
            <h3 th:text="|Hitpoints: ${monster.currentHitpoints}|"></h3>
            <form th:action="@{/fight/{id}(id = *{monster.id})}" th:method="post">
                <input type="submit" value="Fight it">
            </form>
        </div>

    </div>
</main>
</body>
<footer th:replace="~{common/fragments::footer}">
</footer>
</html>