<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/fragments::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="forge-body">
<header th:replace="~{common/fragments::navigation}"></header>
<main>
    <div class="main-container">
        <h3>Welcome to the forge. Here you can purchase, upgrade or fix swords.</h3>
        <form th:action="@{/town/forge/shop}">
            <input class="input-button" type="submit" value="Shop">
        </form>
        <form th:action="@{/town/forge/upgrade}">
            <input class="input-button" type="submit" value="Reforge">
        </form>
    </div>
</main>
</body>
<footer th:replace="~{common/fragments::footer}">
</footer>
</html>