<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/fragments::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{common/fragments::navigation}"></header>
<main>
    <div>
        <h1>Welcome to Swordo</h1>
        <p> The purpose of this web application is to be a sort of game. Once you register
            and then log in you will have the opportunity to "fight" monsters. After you "kill"
            them you can loot them for coins and then use the coins to heal up, buy new swords, and
            then fight more monsters. Careful not to anger the dude that randomly appears tho.
        </p>
    </div>
</main>
</body>
<footer th:replace="~{common/fragments::footer}">
</footer>
</html>