<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/fragments::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="login-body">
<header th:replace="~{common/fragments::navigation}"></header>
<main>
    <div class="main-container" id="login">
        <div>
            <h1><strong>Login</strong></h1>
            <h2 th:if="${error}" th:text="${reason}"></h2>
        </div>
        <div>
            <form th:action="@{/user/login}" th:method="POST">
                <div>
                    <label for="username">Username</label>
                    <div>
                        <input class="text-input" name="username" type="text" id="username"
                               placeholder="Username">
                    </div>
                </div>
                <div>
                    <label for="password">Password</label>
                    <div>
                        <input class="text-input" name="password" type="password" id="password"
                               placeholder="Password">
                    </div>
                </div>
                <input class="input-button" type="submit" value="Login">
            </form>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{common/fragments::footer}">
</footer>
</html>