<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/fragments::head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body class="town-body">
<header th:replace="~{common/fragments::navigation}"></header>
<main>
  <div class="main-container">
    <div>
      <h4 th:text="|Username: ${#authentication.getName()}|"></h4>
    </div>
    <div>
      <h4 th:text="|Email: ${@extraUserData.email}|"></h4>
    </div>
    <div>
      <h4 th:text="|Hitpoints: ${@extraUserData.hitpoints}|"></h4>
    </div>
    <div>
      <h4 th:text="|Coins: ${@extraUserData.coins}|"></h4>
    </div>
    <div>
      <h4 th:text="|Current sword type: ${@extraUserData.sword.type}|"></h4>
      <h5 th:text="|Damage: ${@extraUserData.sword.strength}|"></h5>
      <h5 th:text="|Crit Chance: ${@extraUserData.sword.critChance}|"></h5>
      <h5 th:if="${@extraUserData.sword.type != T(com.example.swordo.models.entity.SwordTypeEnum).BROKEN_SWORD}" th:text="|Durability: ${@extraUserData.sword.durability}|"></h5>
    </div>
  </div>
</main>
</body>
<footer th:replace="~{common/fragments::footer}">
</footer>
</html>