<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:replace="~{common/fragments::navigation}"></header>
<body>
    <div class="main-container">
        <div>
            <h1><strong>Register</strong></h1>
            <h2 th:if="${error}" th:text="${reason}"></h2>
        </div>
        <div>
            <form th:action="@{/user/register}" th:method="POST" th:object="${userRegisterBindingModel}">
                <div>
                    <label for="username">Username</label>
                    <div>
                        <input class="text-input" th:field="*{username}" type="text" id="username"
                                placeholder="Username">
                        <p class="error-p" th:if="${#fields.hasErrors('username')}">
                            Username length must be between 5 and 20 characters.
                        </p>
                    </div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <div>
                        <input class="text-input" th:field="*{email}" type="text" id="email"
                                placeholder="email@example.com">
                        <p class="error-p" th:if="${#fields.hasErrors('email')}">
                            Invalid email address.
                        </p>
                    </div>
                </div>
                <div>
                    <label for="password">Password</label>
                    <div>
                        <input class="text-input" th:field="*{password}" type="password" id="password"
                                placeholder="Password">
                        <p class="error-p" th:if="${#fields.hasErrors('password')}">
                            Password length must be more than 5 characters long and less than 20.
                        </p>
                    </div>
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <div>
                        <input class="text-input" th:field="*{repeatPassword}" type="password" id="confirmPassword"
                                placeholder="Confirm Password">
                        <p class="error-p" th:if="${#fields.hasErrors('repeatPassword')}">
                            Password length must be more than 5 characters long and less than 20.
                        </p>
                    </div>
                </div>
                <input class="input-button" type="submit" value="Register">
            </form>
        </div>

    </div>
</body>
<footer th:replace="common/fragments::footer">
</footer>
</html>